/*
// .mobile-header
*/
@import '../variables';
@import '../mixins/direction';
@import '../mixins/breakpoints';
@import '../mixins/header';


@include mobile-header-variant-selector {
    .mobile-logo {
        svg {
            display: block;
        }
    }
    .mobile-logo__text {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.5px;
        line-height: 1;
        white-space: nowrap;
    }
    .mobile-logo__part-one {
        fill: map_get($logo-scheme, primary);
        color: map_get($logo-scheme, primary);
    }
    .mobile-logo__part-two {
        fill: map_get($logo-scheme, secondary);
        color: map_get($logo-scheme, secondary);
    }
}
